/*
 *  Primarys 
 */
$primary-background: #33afbd;
$primary-font-size: 18px;


/*
 * Basics
 */
$white: #fff;
$black: rgb(16, 16, 16);

/*
 * Color Schemes
 */
 $red: #e27d60;
 $turquoise: #33afbd;
 $orange: e8a87c;
 $error-red: #c38d9e;
 $green: #41b3a3;

 /*
  * Font / Fonts
  */
  @import url('https://fonts.googleapis.com/css2?family=Mulish&family=Noto+Sans+TC&family=Work+Sans&display=swap');